{% extends '@EGamebook/layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="grid-example col s12 m6">
                 <span class="flow-text">
                   <h1>About</h1><br>
                        <p>Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae
        magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.</p>
                 <a class="waves-effect waves-light btn" href="{{ path('e_gamebook_intro')}}">
            Home</a>
                 </span>
            </div>
        </div>
    </div>
{% endblock %}

