{% extends '@EGamebook/layout.html.twig' %}
{% block body %}
    <h1>The Red Letter</h1><br>
    <h3>by Ben Wreford</h3>

    <h2>Introduction</h2>
    <p><em>The Red Letter</em> is an interactive book that contains a story where you assume the role of the main character.<br>
        In each page you decide how the story should progress, so the outcome of this adventure depends on the choices you make.<br>
        Good luck and start your own adventure!</p>

        <a class="waves-effect waves-light btn" href= "{{ path('e_gamebook_story', { 'id': 1 } ) }}">
            Start the Story</a>
{% endblock %}