{% extends '@EGamebook/layout.html.twig' %}
{% block body %}
    <h1 class="center">Book creation</h1>
<div class="container">
    <div class="row">
        <div class="card-panel">
    {{ form_start(form) }}
            
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('book_index') }}">Back to the list</a>

        </li>
    </ul>
        </div>
    </div>
</div>
{% endblock %}
