{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img" src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="card-panel col s12">
                 <div class="flow-text">
                     <p>Ruby, no, no and no. Even if you feel you are going to die, you have to do this. Jump into
                         those high heels and go downstairs have some dinner with that man. God! I cannot stop thinking
                         of his pronounced jaws, his Adam’s apple, his big warm hands, and when he softly puts them on
                         my shoulder and asks me “did you have a good weekend Ruby”. My legs are shaking but that is
                         not an excuse.</p>
                     <p>Remember when professor Keller said NOW is when women will take over the world. Get on your
                         beautiful Louboutin and show Professor Keller what you are capable of. Ok, ok, quick glass
                         of wine. Last one. “That” skirt, some lipstick, why not, women wear lipstick for dinner,
                         it’s NY, doesn’t mean anything, right? </p>
                     <p>I felt proud of myself. I had no idea what I was doing but nothing stopped me from doing
                         it.</p>
                     <p>Why does this elevator move so fast, please give me a few more seconds. Shit, I’m here. Ruby,
                         let’s go.</p>
                     <p><span class="violet">Hi, can I still have dinner? I am looking for my colleague, he’s probably
                             already inside.</span> Only that he’s not. It’s almost 1:00 am and the restaurant is
                         full, but after scanning the room two or three times (or ten), he’s definitely not here.
                         Where are you Mr. Stella.</p>
                     <p>Let me look in the bar. Not there, not there...mmm, there is more behind that corner. Fuck,
                        he’s with Max and his friends. Uuups I think I overdressed, damn Ruby you could not just wear
                        some jeans?</p>
                 </div>

                    <div class="wrap">
                        <a href="{{ path('e_gamebook_3_3') }}"  class="button">
                            Nobody saw me. Just turn around and get back to the room.
                        </a>
                    </div>
                    <div class="wrap">
                        <a href="{{ path('e_gamebook_3_4') }}"  class="button">
                            I´m already here. Let´s do this!
                        </a>
                    </div>


            </div>
        </div>
    </div>
{% endblock %}
