{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img" src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card-panel col s12">
                <div class="flow-text">
                    <p>Green juice neutra taiyaki drinking vinegar shaman. Hashtag celiac four loko,
                        locavore neutra put a bird on it cardigan ethical disrupt before they sold out.
                        Ugh schlitz meggings gochujang. Food truck truffaut drinking vinegar skateboard schlitz.
                        Succulents chambray whatever trust fund, adaptogen hammock kickstarter messenger
                        bag pug forage mustache poutine twee.<br />
                        Fashion axe health goth raclette stumptown small
                        batch direct trade lo-fi cornhole DIY. Fanny pack portland kombucha, gochujang before they
                        sold out iPhone kale chips slow-carb mustache helvetica. Mixtape hot chicken keytar,
                        taxidermy wolf everyday carry keffiyeh snackwave franzen gastropub echo park seitan cloud
                        bread. Kitsch leggings marfa snackwave literally dreamcatcher church-key kickstarter tousled.
                        Chambray flannel marfa godard, umami tattooed brunch 3 wolf moon four loko typewriter pok
                        pok church-key cornhole meh lomo. Chambray pug cliche hexagon kitsch. Fingerstache four
                        loko next level echo park VHS ugh artisan..</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
