{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img" src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="card-panel col s12">
                 <div class="flow-text">
                     <p>At the end, the rational Ruby imposed, leaving her a feeling of disappointment
                         and with the words from Mr. Stella still echoing in her head, “an agent of pleasure in your
                         room…”</br>
                     <p>At the same time, just a few floors away, Niall having a drink with Max and the others.</p>
                     <p>He seemed completely unaffected by his conversation with Ruby. Max wordlessly asked Niall
                         whether Ruby would be joining—with a small lift of his brow, an expectant expression—Max
                         shook his head.
                         It was hard to tell from his expression whether he cared at all that she wasn’t coming
                         down. </p>
                     <p>Niall ordered a gin and tonic, and then another, contributing to the conversation before
                         eventually becoming lost in his own jumbled thoughts. He went from tangled, to calm, to tipsy,
                         finally convincing himself it was time to leave.
                         “Where you headed?” Max asked. “This is my one night a month out. No sodding way you’re
                         cutting out early.”</p>
                     <p>Only as he got in the elevator did he seem to hesitate. His pushed the button to the fifth
                         floor,
                         but when the elevator arrived, he stayed calm, and continued to the seventh floor, to the
                         door that led to her room </p>
                     <p>He did not stop for a second to think. He just knocked on her door. </p>
                     <p>Ruby opened the dressed in her white silk rob and her face illuminated when she saw Mr.
                         Stella.</p>
                     <p class="violet">“Mr. Stella, what a surprise. What happened?”</p>
                     <p class="rouge">Ruby sorry for bothering you so late, I was on my way to my room and then
                         remembered that we did not do the changes
                         Mr. Wilson asked. You have the master copy. Would send it to me? I will take care.</p>
                     <p><span class="violet">Oh God, I totally forgot Mr. Stella, I am so sorry. I can do it.</span>
                         Ruby, where is your mind, you said you would do it. </p>
                     <p>No it’s ok, I’ll do it. It’s too late, you should go to sleep. Just send me the file, I’ll do
                         it. Just please try not to forget next time. Good night Ruby.</p>
                 </div>

                    <div class="wrap">
                        <a href="{{ path('e_gamebook_3_1') }}"  class="button">
                           Well, please come in, we can at least discuss the changes. Let me help.</a>
                    </div>
                    <div class="wrap">
                        <a href="{{ path('e_gamebook_3_2') }}"  class="button">
                            Just don’t say anything. Don’t embarrass yourself even more.</a>
                    </div>

            </div>
        </div>
    </div>
{% endblock %}
