{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img" src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="card-panel col s12">
                 <div class="flow-text">
                     <p>There she is! Max said out loud.</p>
                     <p><span class="violet">Bonne nuit! Are you guys having fun? Can I join such intellectual
                             discussion?</span> Mr. Stella took one second before turning around. He looked at me,
                         for a short but intense moment, and then smiled, - come on Ruby, stop smiling like a
                         five-year-old and stop looking at him like that.</p>
                     <p class="rouge">I thought you would let me drink alone in NY.</p>
                     <p class="violet">Oh! I would never do that to you.</p>
                     <p>Let’s celebrate such visit - Max interrupted - Boss please find these beers a better purpose
                         and bring us real drinks. Ruby, you’d want a gin tonic?</p>
                     <p>I am not sure how we went from the first drink to the fourth. Max and Mr. Stella just wouldn’t
                         stop making us laugh. They had obviously practiced their stories, even if they had very
                         different versions sometimes. Mr. Stella had us all asking for more details. I was feeling
                         more reassured, he made me belong there.</p>
                     <p>I think it’s time for this old celebrity to hang the jersey, we are meeting the
                         architect tomorrow in the morning- Max said.</p>
                     <p>I had an incredible time. I wish they stayed a bit longer, but, I also was somewhat
                         excited that they had to leave…what now? I thought.</p>
                     <p><span class="violet">Well, we are not meeting the architect. Last one?</span> Said Mr.
                         Stella</p>
                     <p>Ok this is getting off my hands. I have proven myself my point…do I really want to have one
                         more drink? Do I want to open that door? Why to rush it?. Maybe he is just being nice,
                         this guy is nice to everyone 24-7. Maybe I’m just walking over the clouds and it turns out
                         it is all in my head. Oh shit, I hope I am not taking this wrong, I cannot be so stupid.
                         As much as I hate to accept it, I paralyze when I really want something.</p>

                 </div>



                    <div class="wrap">
                        <a href="{{ path('e_gamebook_4_7') }}"  class="button">
                            I don’t think I can take so much intensity in one day.
                            Too long over the skies, I’m missing oxygen.<br />
                            <span class="violet">“Lets’ continue tomorrow rather.”</span>
                        </a>
                    </div>
                    <div class="wrap">
                        <a href="{{ path('e_gamebook_4_8') }}"  class="button">
                            I already made it all the way here. How about I call his bluff and take it up.<br />
                            <span class="violet">“I still have some of this wonderful wine I bought earlier in my
                                room. Want to try my agent of pleasure?”</span>
                        </a>
                    </div>

            </div>
        </div>
    </div>
{% endblock %}
