{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img" src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card-panel col s12">
                <div class="flow-text">
                    <p>Meh ethical normcore artisan, butcher biodiesel bicycle rights jianbing. Forage poutine marfa
                        franzen four loko try-hard, church-key four dollar toast banh mi affogato slow-carb
                        humblebrag kombucha. Chillwave readymade aesthetic, fanny pack kogi single-origin coffee
                        venmo XOXO echo park deep v plaid thundercats. Art party messenger bag williamsburg etsy
                        keffiyeh subway tile polaroid occupy before they sold out knausgaard vice distillery
                        bicycle rights. Man bun godard flexitarian VHS unicorn.</p>
                    <p>Taiyaki pitchfork fixie quinoa offal shaman la croix. Taiyaki mixtape green juice,
                        pok pok hammock plaid organic ramps air plant letterpress you probably haven't heard of
                        them jianbing kitsch. Put a bird on it fashion axe trust fund, skateboard hoodie truffaut
                        street art lo-fi. Sustainable truffaut shoreditch schlitz tbh biodiesel ennui try-hard man
                        braid aesthetic la croix next level seitan pitchfork. Sriracha hexagon heirloom green juice
                        taiyaki next level glossier food truck health goth dreamcatcher shabby chic tacos normcore.
                        Migas meditation shoreditch slow-carb, listicle la croix ramps shaman 3 wolf moon typewriter.
                        Jianbing truffaut scenester lumbersexual crucifix hell of bushwick, shaman pitchfork austin
                        ugh artisan paleo lomo subway tile. Tumblr shaman polaroid fixie echo park salvia 8-bit kogi
                        beard hoodie yuccie.</p>
                    <p>Butcher keffiyeh edison bulb, semiotics mixtape migas artisan raclette ethical quinoa four
                        dollar toast 8-bit offal literally. Tumblr fashion axe man bun, hexagon banh mi mlkshk art
                        party thundercats paleo taiyaki lomo. Ethical mumblecore af pork belly, poutine occupy green
                        juice. Stumptown small batch hot chicken lumbersexual, bushwick heirloom coloring book
                        affogato. Gochujang leggings drinking vinegar, locavore 90's yuccie heirloom. Cliche four
                        loko vice ugh disrupt actually flexitarian sustainable crucifix lumbersexual slow-carb XOXO
                        tumeric. Cray farm-to-table locavore, single-origin coffee pabst banh mi iPhone neutra
                        wayfarers drinking vinegar four loko marfa poutine. Coloring book mlkshk taiyaki bicycle
                        rights affogato chillwave. Cronut truffaut pug iPhone poutine. Tumblr williamsburg PBR&B,
                        affogato fanny pack vaporware yr tumeric green juice pug keytar intelligentsia meh
                        fingerstache craft beer. Taiyaki kickstarter pug offal wayfarers succulents chillwave
                        typewriter narwhal fixie semiotics selvage meggings.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
