{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img"
         src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="card-panel col s12">
                 <div class="flow-text">
<p>As soon as I closed the door of my room I laid my back against the door and breathed deeply, with my eyes closed,
    trying to bring down my heart beat. What exactly had just happened?</p>
<p>Somewhere in my mind when I had been asked to join Mr. Stella to visit our customer in NY, I had daydreamed of all
    kind of silly stories, and yes, he is the most breathtaking, secure, interesting man on this planet, but that
    that´s it Ruby, it was just fantasy, but what just happened in that meeting…was it my imagination only? He had
    kept looking at me when Mr. Kensington was speaking, and that walk from the office to the hotel, was it intended
    to cross Central Park? I am probably distorting reality.</p>
<p>I felt like a 15-year-old girl walking side to side with that man, wanting to laugh even before he finished
    speaking, hoping the hotel would never come. Ok Ruby, now calm down.</p>
<p>I kicked my high heels off and decided I had earned a bath with boiling water, white wine and jazz. I was still
    wearing my towel when the phone rang.</p>
<p class='violet'>Hello?</p>
<p class='violet'>Hello? Mr. Stella? I guessed from his silence.</p>
<p><span class='rouge'>Ruby call me Niall please </span>- oh god, it’s him, ok, be calm Ruby just be calm</p>
<p class='violet'>Yes, are you ok?</p>
<p class='rouge'>Yes, all good, was just wondering. Are you hungry? Do you want to eat something at the restaurant or
    something?</p>
<p>I didn’t know very well what to say. I mean, I was not expecting this and of course I want to go anywhere with
    you!</p>
<p class='rouge'>Unless you have any other agent of pleasure in your room.</p>
<p>Ok, that came up very awkward and funny. I’m not sure if we were laughing together or he was just blushing and I
    could not stop thinking of his words.</p>
<p><span class='violet'>Agent of pleasure in my room?</span> He could obviously sense a tiny alcohol footprint in my
    words.</p>
<p><span class='rouge'>I mean, maybe you have company</span>… ok, he obviously is only making it worse but we both
    find it so funny.</p>
<p><span class='violet'>No, I mean, it’s midnight. I am in my room all by myself, of course</span> – ok, now I’m
    playing-  <span class='violet'>I just came out my bath and had nothing to do so I was about to call room
        service.</span></p>
<p>For a few seconds, I could feel how the conversation was short-circuiting between hesitations and laughs.
    This was the silliest moment. So awkward, yet so intense</p>
<p class='rouge'>Ah, ok, I see.</p>
<p><span class='violet'>I mean, I guess I could</span>…ok how do you end up this sentence Ruby? Hurry!</p>
<p class='rouge'>It’s ok Ruby, just wanted to check you are ok.</p>
<p><span class='violet'>I’m good, I promise.</span> We stayed still for a few seconds. I don’t know what to say</p>
<p class='rouge'>Ok then. Good night Ruby.</p>
<p><span class='violet'>Good night…Mr. Stella, I mean Niall</span> oh fuck! That’s it? You know that feeling when
    the spark of all your dreams seems to glitter far in the distance and then you stare at it for a second, your
    hope growing bigger and bigger and then, all of sudden, that glitter is no longer there.
    What had just happened? Shit! What can I do. Ruby think. Fast! I don’t’ know?</p>
                 </div>

                        <div class="wrap">
                            <a href="{{ path('e_gamebook_2_1') }}"  class="button">
                                Should I just go to bed and see how things go tomorrow? It’s for sure going to
                                    be awkward but, I guess I want it to be awkward. oh God, was this only today,
                                    I cannot lose this now.</a>
                        </div>
                        <div class="wrap">
                            <a href="{{ path('e_gamebook_2_2') }}"  class="button">
                                Or should I just gather my courage, jump on those high heels again and…go downstairs
                                    to have dinner. He for sure will be in the restaurant or at the bar, and I have not
                                    had proper dinner after all…</a>
                        </div>

                </div>
        </div>
    </div>
{% endblock %}
