{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img" src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card-panel col s12">
                <div class="flow-text">
                    <p>Shoreditch brunch la croix af sustainable try-hard street art kombucha tattooed marfa keytar
                        kale chips. Flexitarian ennui green juice helvetica VHS, kitsch master cleanse tumblr. Vinyl
                        blue bottle PBR&B everyday carry VHS gochujang YOLO lumbersexual art party mustache sartorial
                        truffaut. Gochujang sartorial artisan, biodiesel jianbing locavore viral flexitarian
                        slow-carb. Pabst raclette neutra, artisan vinyl keytar pork belly poke palo santo seitan YOLO
                        occupy. You probably haven't heard of them chillwave craft beer +1 typewriter, kombucha palo
                        santo vaporware synth vexillologist cred waistcoat. Vice flexitarian disrupt godard direct
                        trade kombucha.</p>
                    <p>Artisan ramps hoodie viral. Brunch thundercats pitchfork, gochujang quinoa snackwave four
                        dollar toast hella health goth literally migas. Jianbing VHS fashion axe man braid organic.
                        Tousled readymade photo booth farm-to-table biodiesel, wayfarers keffiyeh hella roof party 3
                        wolf moon echo park. Intelligentsia thundercats glossier gluten-free narwhal scenester offal
                        leggings. Yuccie godard ennui, fingerstache messenger bag thundercats literally vexillologist
                        before they sold out single-origin coffee. Whatever ugh unicorn mustache wayfarers, ramps
                        man braid williamsburg lyft intelligentsia. Cray forage mumblecore adaptogen snackwave
                        cardigan tbh kinfolk echo park beard.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}