{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
    <img class="menuRose responsive-img center-align" src="{{ asset('bundles/platform/img/menuRose.png') }}">
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="card-panel col s12">
                 <div class="flow-text">
                     <p class="rouge">Ok, I can use some help. Offer me, at least, a glass of that you are having.</p>
                     <p class="violet">She blushed. I’m sorry, I was just relaxing. I’ve had a few cocktails. But I
                         do have a few items left unclaimed in the minibar if you like Midori or Jägermeister, as
                         well, of course as my wine.”</p>
                     <p>Niall, gently set his strong hand on the door and pushed firmly. Ruby had to step back and
                         Mr. Stella stepped in and stopped right in front of her. They both stayed staring at each
                         other not knowing what to do now.</p>
                     <p><span class="rouge">“Ruby, listen, this is not ok” </span>said firmly with his deep voice,
                         his eyes looking at her without pause <span class="rouge">“Sorry. I’ve been drinking as well,
                             and . . . I shouldn’t be here. I guess we can do those changes tomorrow before
                             midday.”</span></p>
                     <p>I was trembling, but I smiled when I saw him standing right next to me. Was he still talking
                         about the report or something else? I gathered my courage and threw a curved question
                     <span class="violet">“You shouldn’t be here or you don’t want to?”</span></p>
                     <p>Without answering he stepped forward, moving into the room. She took a step back, letting
                         the door close behind…</p>
                     <p>He suddenly noticed the smell to incense in the room and her the orange juice glass on her
                         table, next to a bottle of vodka.</p>
                     <p><span class="rouge">“What do you think?”</span> He replied</p>
                     <p><span class="violet">“Well that Vodka was my agent of pleasure.”</span> I smiled biting my
                         lips.</p>
                     <p class="rouge">“These past few days . . . I’ve been thinking about it, too”</p>
                     <p class="violet">“In what way? Something bad”</p>
                     <p>I looked really nervous but inside me I was a bit confident too.</p>
                     <p class="rouge">“No, it’s not a bad thing. I’m just not sure”</p>
                     <p><span class="violet">“We’d figure it out together”</span> I reached out and put my hand on his
                         chest, running it down, over his stomach, and then, just before reaching his belt, I let it
                         fall away. <span class="violet">“I’d tell you what I like,”</span> I whispered.
                         <span class="violet">“and you’d tell me what you need.”</span></p>
                     <p><span class="rouge">I should leave Ruby. I should go to my room and let us both sleep it
                             off.</span> I was about to lose my confidence but then tried once more
                         <span class="violet">“What do you need?”</span></p>
                     <p><span class="rouge">"This"</span> he said. “The odd certainty I feel when I’m this close to you.
                         The way you look at me.”</p>
                    <p class="violet">“A lot of women look at you this way.”</p>
                     <p><span class="rouge">“No, you’re wrong. Maybe they look at me the way men look at you but not
                             the way you do, where it feels you can see beneath my skin.”</span> Pausing, he added
                     “besides, I’ve never been one to want ‘a lot of women”.</p>
                     <p>My heart was beating so hard in my chest that I felt unsteady. It seemed to mix potently
                         with the alcohol, and yet I never wanted this feeling to end. I would fit so perfectly
                         tucked into his chest, beneath his chin. Or riding him, with my legs around his waist,
                         my chest slick with our sweat.</p>
                     <p class="rouge">“Ruby, what are you doing?”</p>
                     <p>I tucked my hair behind my ear, laughing a little.<span class="violet"> “You’re the one who
                             came to my room. I think we’re both a little drunk. You tell me.”</span></p>
                     <p class="rouge">“I may want to see how this goes”</p>
                     <p>When he said those words, I knew I there was no way back, I was completely committed and
                         desiring to fulfill all those dreams I’ve had had about him before.</p>
                     <p><span class="violet">“Me too”</span>, I answered.</p>
                     <p><span class="rouge">“But maybe tonight is not a good idea.”</span>  He was closing up
                         again...<span class="rouge"> “We’ve been drinking, and…”</span></p>
                     <p>I closed my eyes, in frustration about this whole situation. He wasn’t probably used to this
                         situations after being with the same woman for 10 years, so I looked up at his face.</p>
                     <p class="violet">“But if you did, how would you touch me?”</p>
                     <p><span class="rouge">“If I did…first gently”</span> He answered right away, taking a step
                         toward her.</p>
                     <p class="violet">“and then roughly?”</p>
                     <p class="rouge">“Maybe, I like to decide on the go…”</p>
                     <p class="violet">“I like thinking of you touching me roughly,” I interrupted “Of your big
                         gentle hands impatient to touch me”</p>
                     <p><span class="rouge">“Maybe I would”</span> I could barely catch my breath; at my sides,
                         my hands were shaking.<br />
                         I took a step toward him.</p>
                     <p><span class="violet">“You pull off my clothes before we can even make it to the bed,”</span>
                         I agreed, playing along as I lifted my hand, fingering the strap of my camisole, waiting to
                         see his reaction and whether he would stop me. He didn’t.</p>
                     <p>Sliding my hands down over my breasts and lower, to the hem of the garment, I began to lift it
                         up, over my head . . . and off. I could almost feel that his heart beat stopped for a
                         second.</p>
                     <p>I dropped the silk to the floor without looking away from his face, feeling how he was
                         swallowing while looking at my bare chest, lush curves and small, pink nipples. I was
                         fighting the savage tempo of my pulse standing naked in from of him, fighting the impulse
                         to touch him, kiss him. I wanted to have him on top of me, and feel him moving inside me.</p>
                 </div>

                    <div class="wrap">
                        <a href="{{ path('e_gamebook_4_1') }}"  class="button">
                            Fingerstache fanny pack butcher, echo park banjo vice glossier man bun literally yuccie
                            sustainable whatever you probably haven't heard of them.
                        </a>
                    </div>
                    <div class="wrap">
                        <a href="{{ path('e_gamebook_4_2') }}"  class="button">
                            Coloring book cronut PBR&B XOXO crucifix retro bespoke keffiyeh austin la croix bicycle
                            rights. Tumblr fashion axe forage prism tacos gentrify.
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
