{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img" src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card-panel col s12">
                 <div class="flow-text">
                      <p>Kinfolk chambray put a bird on it mlkshk forage yuccie, small batch truffaut disrupt actually
                          freegan messenger bag deep v. Bushwick 8-bit raw denim master cleanse enamel pin, drinking
                          vinegar selfies hoodie fanny pack yr.<br />
                          Occupy wolf artisan hell of la croix. Semiotics copper
                          mug dreamcatcher tbh meditation, green juice stumptown. Four loko venmo hammock meggings
                          mumblecore meh scenester chambray. Fingerstache small batch lumbersexual, before they sold out
                          whatever yr cred cornhole.
                      </p>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}
