{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img" src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card-panel col s12">
                <div class="flow-text">
                    <p>Fingerstache fanny pack butcher, echo park banjo vice glossier man bun literally yuccie
                        sustainable whatever you probably haven't heard of them. Coloring book cronut PBR&B XOXO
                        crucifix retro bespoke keffiyeh austin la croix bicycle rights. Tumblr fashion axe forage
                        prism tacos gentrify. Glossier plaid hella, pour-over bitters cred mustache literally paleo
                        next level schlitz flexitarian cold-pressed hexagon pitchfork. Four dollar toast distillery
                        tofu vexillologist semiotics tbh, deep v chillwave cronut tote bag trust fund. Kinfolk
                        chambray put a bird on it mlkshk forage yuccie, small batch truffaut disrupt actually
                        freegan messenger bag deep v. Bushwick 8-bit raw denim master cleanse enamel pin, drinking
                        vinegar selfies hoodie fanny pack yr. Occupy wolf artisan hell of la croix. Semiotics copper
                        mug dreamcatcher tbh meditation, green juice stumptown. Four loko venmo hammock meggings
                        mumblecore meh scenester chambray. Fingerstache small batch lumbersexual, before they sold
                        out whatever yr cred cornhole.<br />
                        Fashion axe health goth raclette stumptown small
                        batch direct trade lo-fi cornhole DIY. Fanny pack portland kombucha, gochujang before they
                        sold out iPhone kale chips slow-carb mustache helvetica. Mixtape hot chicken keytar,
                        taxidermy wolf everyday carry keffiyeh snackwave franzen gastropub echo park seitan cloud
                        bread. Kitsch leggings marfa snackwave literally dreamcatcher church-key kickstarter tousled.
                        Chambray flannel marfa godard, umami tattooed brunch 3 wolf moon four loko typewriter pok
                        pok church-key cornhole meh lomo. Chambray pug cliche hexagon kitsch. Fingerstache four
                        loko next level echo park VHS ugh artisan..</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
