{% extends '@EGamebook/layout.html.twig' %}

{% block menu %}
    <img class="menuRose responsive-img" src="{{ asset('bundles/platform/img/menuRose.png') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="card-panel col s12">
                 <div class="flow-text">
                    <p>Mr. Stella turned around and left. I felt something had gone terribly wrong. I had forgotten to
                        do the changes and on top. Mr. Stella saw me drunk.</p>
                    <p>But wait a minute, we could do them tomorrow. Why did he really come all the way here this
                        late, after a few drinks?</p>
                    <p>Maybe I misinterpreted the signals. Did he want me to do the work? Did he want me to invite
                        him in?</p>
                 </div>

                    <div class="wrap">
                        <a href="{{ path('e_gamebook_4_3') }}"  class="button">
                            Glossier plaid hella, pour-over bitters cred mustache literally paleo next level schlitz
                            flexitarian cold-pressed hexagon pitchfork.
                        </a>
                    </div>
                    <div class="wrap">
                        <a href="{{ path('e_gamebook_4_4') }}"  class="button">
                            Four dollar toast distillery tofu vexillologist semiotics tbh, deep v chillwave cronut
                            tote bag trust fund.
                        </a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
