@import url(http://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300italic,300,500,400italic,500italic,700,700italic)
html, body {
    height: 100%;
    background-color: #eee;
    position: relative;
    z-index: 1;
}

nav {
    background-color: #03a9f4;
    box-shadow: 0 0 0 0;
}