#premiere_page
{
    background-color: #0000F0;
}

/*Page Caroussel*/
.row-full{
    width: 107%;
    position: relative;
    margin-left: -55vw;
    left: 55%;
    text-align: center;
}

.col .carousel-slider, .carousel-item
{

    height: auto !important;
    max-width: 300px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.star
{
    max-width: 100px !important;
    height: auto;
}

/*Bouton de choix*/
.theme-color {
    background-color: white;
    border: solid deeppink;
}