#premiere_page{
    background-color: #0000F0;
}

.carousel .carousel-item
{
    background-size:100% auto;
    background-repeat: no-repeat;
    max-width : 100%;


    background-color: transparent;
    margin: 0;
    height: 200px;

}
/*.indexPage .carousel .carousel-item img*/
/*{*/
    /*height: auto;*/
    /*width: 100px%;*/
    /*background-position: center;*/
    /*background-size:100% auto;*/
    /*background-repeat: no-repeat;*/
/*}*/
