EGamebookBundle\Entity\Book:
    type: entity
    table: null
    repositoryClass: EGamebookBundle\Repository\BookRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        title:
            type: string
            length: 255
        author:
            type: string
            length: 255
        resume:
            type: text
            length: 255
        editor:
            type: string
            length: 255
        year:
            type: integer
        isbn:
            type: string
            length: 255
            nullable: true

    lifecycleCallbacks: {  }


    oneToMany:
        chapters:
            targetEntity: EGamebookBundle\Entity\Chapters
            mappedBy: book
            cascade: ["persist"]

    manyToOne:
        user:
            targetEntity: EGamebookBundle\Entity\User
            inversedBy: books
            cascade: ["persist"]

        fichiers:
            targetEntity: EGamebookBundle\Entity\Fichier
            cascade: ["persist", "remove"]


