{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
            <a href="{{ path('e_gamebook_list') }}"><img class="responsive-img" src="{{ asset('bundles/platform/img/home.jpg') }}">
        </div>
        </div>

    </div>



</a>
{% endblock %}