{% extends 'base.html.twig' %}

{% block body %}

            <a href="{{ path('e_gamebook_list') }}"><img class="responsive-img" src="{{ asset('bundles/platform/img/PlayBook UX3.jpg') }}">



</a>
{% endblock %}