{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="row-full">
            <a href="{{ path('e_gamebook_read', {'number': 1 , 'id': book.id}) }}">


                {% if book.fichier is null %}
                    <img class="photohaut responsive-img" src="{{ asset('bundles/platform/img/Screenshot at 2017-06-22 18_56_54.png') }}">
                {% else %}
                    <img class="responsive-img" src="{{ asset('bundles/platform/img/' ~ book.fichier.src ) }}">
                {% endif %} <a/>
        </div>


        <div class="wrap">
            <a href="{{ path('e_gamebook_firsPage') }}" class="button"><p>Start Adventure</p></a>
        </div>
    </div>
</div>







{% endblock %}
